.home {

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;

    .home-container {
      margin: 10px;
      overflow-y: auto;
    }
  }
}
