<app-top-bar (homeEvent)="home()"></app-top-bar>
<div class="home">
  <div>
    <mat-label>All / Following</mat-label>
  </div>
  <mat-slide-toggle [(ngModel)]="followingPage" (change)="changePage()">See following!</mat-slide-toggle>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Post now</mat-label>
      <textarea formControlName="post" matInput placeholder="What are you thinking today?" [maxLength]="777"></textarea>
    </mat-form-field>
  </form>
  <mat-label>Characters: {{countCharacters}}</mat-label>

  <router-outlet></router-outlet>
</div>
