<mat-card class="post-card">
  <mat-card-header>
    <div (click)="profile(post.createdBy)" mat-card-avatar class="example-header-image profile-action"></div>
    <mat-card-title class="profile-action" (click)="profile(post.createdBy)">{{ post.createdBy?.username }}</mat-card-title>
    <mat-card-subtitle>{{ post.createdAt | date:'MMMM dd, yyyy' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="post-text">
      {{ post.postText }}
    </div>
    <div *ngIf="post.originPostBy">
      <mat-card style="border: 1px solid gray;">
        <mat-card-header>
          <div (click)="profile(post.originPostBy)" mat-card-avatar class="example-header-image profile-action"></div>
          <mat-card-title class="profile-action" (click)="profile(post.originPostBy)">{{ post.originPostBy?.username }}</mat-card-title>
          <mat-card-subtitle>{{ post.originPostAt | date:'MMMM dd, yyyy' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="post-text">
            {{ post.originPostText }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="showActions">
    <button mat-button (click)="repost()">REPOST</button>
    <button mat-button (click)="reply()">REPLY</button>
  </mat-card-actions>
</mat-card>
