.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.post-card {
  width: 400px;
  background-color: aliceblue;
  margin-bottom: 10px;
}
.post-text {
  word-break: break-all;
}
.profile-action {
  cursor: pointer;
}
